body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.resume-container {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
}
.left-column {
  flex: 1;
  padding: 20px;
  background-color: #0074d9;
  color: #ffffff;
}
.right-column {
  flex: 2;
  padding: 20px;
  background-color: #ffffff;
}
.banner {
  background-image: url("images/banner.png"); /* Replace with your image path */
  background-size: cover;
  background-color: blue;
  background-position: center;
  color: black;
  text-align: center;
  padding: 10px 0;
  max-width: 100%;
  max-height: 100%;
}
.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.details {
  margin-top: 20px;
}
/* Add your own styles for synopsis, details, and other sections */
@media (max-width: 768px) {
  .resume-container {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    flex: 1;
  }
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;

  bottom: 0;
  width: 100%;
}
