body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: blue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    font-size: 18px;
    margin: 0;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

li {
    margin-bottom: 10px;
}